.menuContainer {
  position: sticky;
  top: 0;
  height: 100%;
  padding-top: 1%;
  background-color: var(--main-bg-color);
  z-index: 100;
}

.menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color-grey);
  border-top: 1px solid var(--main-color-grey);
  text-transform: uppercase;
  background-color: var(--main-bg-color);
  padding: 2.4vw 0;
}