.button {
  composes: textManrope18 from global;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color);
  padding: 0.4vw 1.7vw;
}

.button24 {
  composes: textManrope24 from global;
  text-transform: uppercase;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color);
  padding: 0.4vw 1.7vw;
}

.borderless {
  border: none;
}

.noPadding {
  padding: 0;
}