.iconContainer {
  cursor: pointer;
}

.icon {
  width: 2.8vw;
  height: 2.8vw;
}

.logo {
  width: 10.3vw;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  height: 6.94vw;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.7vw;
}

.localButton {
  composes: textManrope18 from global;
  text-transform: uppercase;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.6vw 1.7vw;
  background-color: transparent;
}

@media(max-aspect-ratio: 12/16) {

  .menuContainer {
    display: flex;
    justify-content: space-between;
    height: 13.9vw;
    align-items: center;
  }

  .logo {
    width: 28vw;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 6.67vw;
  }

  .icon {
    width: auto;
    height: 8vw;
  }

  .localButton {
    font-size: 3.2vw;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 1.8vw 5.33vw;
    background-color: transparent;
  }
}