.page {
  padding: 0 2.29vw;
}

.getInTouch {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 3.42vw;
  padding-bottom: 6.94vw;
  border-bottom: 1px solid var(--main-color-grey);
}

.address {
  composes: titleManrope24 from global;
  padding-bottom: 2.01vw;
  color: var(--main-color);
  text-align: left;
}

.contactUs {
  composes: titleCormorant150 from global;
  color: var(--main-color);
  text-align: right;
}

.contacts {
  display: flex;
  padding-top: 9.375vw;
  /* gap: 11.875vw; */
  justify-content: space-between;
}

.contactsColumn {
  display: flex;
  flex-direction: column;
  gap: 6.94vw;
}

.firstColumn {
  width: 30.42vw;
}

.secondColumn {
  width: 24.3vw;
}

.thirdColumn {
  width: 16.94vw;
}

.contactCard {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.title {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  line-height: 2vw;
}

.phone {
  composes: textManrope24 from global;
  color: var(--main-color);
  margin-top: 2.1vw;
}

.mail {
  composes: textManrope24 from global;
  color: var(--main-color);
}

@media(max-aspect-ratio: 12/16) {
  .page {
    padding: 0 4vw;
  }
  
  .getInTouch {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    margin-top: 13.33vw;
    padding-bottom: 13.33vw;
    border-bottom: 1px solid var(--main-color-grey);
  }

  .address {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 120%;
    padding-bottom: 0;
    color: var(--main-color);
    text-align: left;
  }
  
  .contactUs {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16.53vw;
    line-height: 100%;
    color: var(--main-color);
    text-align: right;
    margin-top: 20vw;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding-top: 16vw;
    justify-content: flex-start;
    gap: 13.33vw;
  }
  
  .contactsColumn {
    display: flex;
    flex-direction: column;
    gap: 13.33vw;
  }
  
  .firstColumn {
    width: 100%;
  }
  
  .secondColumn {
    width: 100%;
  }
  
  .thirdColumn {
    width: 100%;
  }
  
  .contactCard {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .title {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.46vw;
    line-height: 140%;
    color: var(--main-color-grey);
  }
  
  .phone {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 160%;
    color: var(--main-color);
    margin-top: 2.67vw;
  }
  
  .mail {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 160%;
    color: var(--main-color);
  }

  .menuContainer {
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
    z-index: 100;
  }

  .menuContainer > div {
    position: static;
    top: 0;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
}