@keyframes fadein {
  from { opacity: 1; }
  to { opacity: 0.5; }
}

@keyframes fadeout {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

.cardContainer {
  width: 48.61vw;
  text-align: left;
  margin-top: 6.9vw;
  opacity: 1;
  animation: fadeout 0.5s ease-in alternate;
}

.blurred {
  opacity: 0.5;
  animation: fadein 0.5s ease-in alternate;
}

.date {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.title {
  composes: titleCormorant36 from global;
  color: var(--main-color);
  margin: 0.7vw 0 1.4vw 0;
}

.description {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
}

.more {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  margin-top: 2.8vw;
  cursor: pointer;
  transition: all 1s ease;
}

.more:hover {
  color: var(--main-color-lightgrey);
  transition: all 1s ease;
}

.moreText {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
  margin-top: 2vw;
  transition: all 1s ease;
}

.border {
  padding-top: 5.2vw;
  height: 5px;
  border-bottom: 1px solid rgba(255,255, 255, 0.6);
  transition: all 1s ease;
}

.img {
  height: 41vw;
  width: 32vw;
}

@media(max-aspect-ratio: 12/16) {
  .cardContainer {
    width: 100%;
    text-align: left;
    margin-top: 0;
    opacity: 1;
    animation: fadeout 0.5s ease-in alternate;
  }

  .img {
    height: auto;
    width: 100%;
  }

  .date {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.46vw;
    line-height: 140%;
    color: var(--main-color-grey);
    margin-top: 4vw;
  }
  
  .title {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6.4vw;
    line-height: 120%;
    color: var(--main-color);
    margin: 1.33vw 0 4vw 0;
  }
  
  .description {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 160%;
    color: var(--main-color-lightgrey);
  }
  
  .more {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.46vw;
    line-height: 140%;
    color: var(--main-color-grey);
    margin-top: 5.33vw;
    cursor: pointer;
    transition: all 1s ease;
  }
  
  .more:hover {
    color: var(--main-color-lightgrey);
    transition: all 1s ease;
  }
  
  .moreText {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 160%;
    color: var(--main-color-lightgrey);
    margin-top: 2vw;
    transition: all 1s ease;
  }
  
  .border {
    display: none;
  }
}