@keyframes fadein {
  from { opacity: 1; }
  to { opacity: 0.5; }
}

@keyframes fadeout {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

.cardContainer {
  width: 48.61vw;
  text-align: left;
  margin-top: 6.9vw;
  opacity: 1;
  animation: fadeout 0.5s ease-in alternate;
}

.blurred {
  opacity: 0.5;
  animation: fadein 0.5s ease-in alternate;
}

.date {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.title {
  composes: titleCormorant36 from global;
  color: var(--main-color);
  margin: 0.7vw 0 1.4vw 0;
}

.description {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
}

.more {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  margin-top: 2.8vw;
  cursor: pointer;
  transition: all 1s ease;
}

.more:hover {
  color: var(--main-color-lightgrey);
  transition: all 1s ease;
}

.moreText {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
  margin-top: 2vw;
  transition: all 1s ease;
}

.border {
  padding-top: 5.2vw;
  height: 5px;
  border-bottom: 1px solid rgba(255,255, 255, 0.6);
  transition: all 1s ease;
}

.img {
  height: 41vw;
  width: 32vw;
}