.newsTab {
  padding-top: 7.5vw;
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  position: sticky;
  top: 10vw;
  height: 100%;
  padding-top: 8.33vw;
}


.img {
  width: 32.71vw;
  height: 66.5vh;
  object-fit: cover;
  transition: all 1s ease;
}

.newsList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 2.4vw;
}

@media(max-aspect-ratio: 12/16) {
  .newsTab {
    padding-top: 6.67vw;
    display: flex;
    justify-content: space-between;
  }

  .newsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 2.4vw;
    gap: 20vw;
  }

  .img {
    width: 28vw;
    height: 62.5vh;
    object-fit: cover;
  }
}