.newsTab {
  padding-top: 7.5vw;
  display: flex;
  justify-content: space-between;
}

.imgContainer {
  position: sticky;
  top: 10vw;
  height: 100%;
  padding-top: 8.33vw;
}


.img {
  width: 32.71vw;
  height: 66.5vh;
  object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  .img {
    width: 28vw;
    height: 62.5vh;
    object-fit: cover;
  }
}

.newsList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 2.4vw;
}