.dancerCard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  outline: 0;
  background-color: var(--main-bg-color);
  display: flex;
}

.dancerImage {
  width: 42.92vw;
  height: 62.5vw;
}

.arrowContainer {
  padding: 0 2.08vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  width: 4.51vw;
  height: 2.78vw;
  opacity: 0;
}

.closeContainer {
  position: fixed;
  display: flex;
  right: 0;
  top: 0;
  height: 6.94vw;
  padding: 2.08vw;
  justify-content: end;
}

.descriptionContainer {
  padding-top: 6.94vw;
  overflow-y: scroll;
}

.descriptionContainer::-webkit-scrollbar {
  display: none;
}

.name {
  composes: textCormorant80 from global;
  color: var(--main-color);
  text-transform: uppercase;
}

.jobContainer {
  display: flex;
  flex-direction: column;
  margin-top: 3.47vw;
  gap: 0.35vw;
}

.jobTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.job {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
}

.careerContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5.2vw;
  gap: 0.35vw;
}

.careerTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.career {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
}

.repertoirContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5.2vw;
  gap: 0.35vw;
}

.repertoirTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.repertoirPlaysContainer {
  margin-top: 1.04vw;
  margin-bottom: 2.29vw;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.08vw;
  row-gap: 3.47vw;
  width: 40.28vw;
}

.repertoirPlay {
  display: flex;
  flex-direction: column;
  width: 19.1vw;
  transition: all 1s ease;
}

.playTitle {
  composes: textManrope24 from global;
  color: var(--main-color);
  text-transform: uppercase;
  margin-top: 1.04vw;
}

.playDescription {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.repertoirPlayInactive {
  opacity: 0.2;
  transition: all 1s ease;
}

.repertoirPlayInactive .playImage {
  filter: grayscale(1);
  transition: all 1s ease;
}

.repertoirPlayColored .playImage {
  filter: grayscale(0);
  transition: all 1s ease;
}

.playImage {
  filter: grayscale(1);
  transition: all 1s ease;
}