.facesContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 3.47vw;
  row-gap: 6.94vw;
  column-gap: 2.08vw;
}

.faceCard {
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: all 1s ease;
}

.faceCardInactive {
  opacity: 0.2;
  transition: all 1s ease;
}

.faceCardInactive .faceImage {
  filter: grayscale(1);
  transition: all 1s ease;
}

.faceCardColored .faceImage {
  filter: grayscale(0);
  transition: all 1s ease;
}

.faceImage {
  height: 22.29vw;
  width: 22.29vw;
  filter: grayscale(1);
  transition: all 1s ease;
}

.faceName {
  composes: titleCormorant28 from global;
  color: var(--main-color);
  margin-top: 1.04vw;
  width: 22.29vw;
}

.faceJob {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

@media(max-aspect-ratio: 12/16) {
  .faceImage {
    height: 92.27vw;
    width: 92.27vw;
    filter: none;
    transition: all 1s ease;
  }

  .facesContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 9.33vw;
    row-gap: 13.33vw;
    column-gap: 13.33vw;
  }

  .faceName {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6.5vw;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 1.5vw;
    width: 100%;
  }
  
  .faceJob {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 140%;
    color: var(--main-color-grey);
  }
}