.pressTab {
  padding-top: 7.5vw;
}

.row {
  padding: 6.94vw 6.04vw 0 6.04vw;
  display: flex;
  justify-content: space-between;
}

@media(max-aspect-ratio: 12/16) {
  .pressTab {
    display: flex;
    flex-direction: column;
    gap: 20vw;
  }
}

