@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-70vh);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    background-color: var(--main-color);
  }
  75% {
    background-color: var(--main-bg-color);
  }
  100% {
    color: transparent;
    background-color: transparent;
  }
}

@keyframes changeColor {
  0% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes saturateColor {
  0% {
    background: linear-gradient(var(--main-bg-color), var(--main-bg-color));
  }
  100% {
    background: linear-gradient(transparent, var(--main-bg-color) 25%, var(--main-bg-color));
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes removeComponent {
  0% {
    top: 0;
  }
  75% {
    top: 75vh;
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100vh;
  }
}


.mainHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  z-index: 999;
  color: var(--main-color);

  /* background: linear-gradient(var(--main-color), var(--main-color) 50%, var(--main-bg-color) 50%, var(--main-bg-color)); */
  /* background-color: transparent; */
  /* background-size: 100% 200%; */
  background: var(--main-bg-color);
  animation-name: saturateColor, removeComponent;
  animation-duration: 1500ms, 1500ms;
  animation-delay: 0ms, 1500ms;
  animation-timing-function: linear, linear, linear;
  animation-fill-mode: forwards, forwards, forwards;
  animation-iteration-count: 1, 1, 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(14.9vw, 23.9vh);
  text-transform: uppercase;
}

@media(max-aspect-ratio: 12/16) {
  .mainHeader {
    width: 100%;
  }
}