.contentContainer {
  padding: 0 2.29vw;
}

.menuContainer {
  margin-bottom: 2.47vw;
}

@media(max-aspect-ratio: 12/16) {
  .contentContainer {
    padding: 0 4vw;
  }

  .menuContainer {
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
    z-index: 100;
    margin-bottom: 0;
  }

  .menuContainer > div {
    position: sticky;
    top: 0;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
  }
}