.pressCardSmall {
  height: 69.44vw;
  width: 34.58vw;
  display: flex;
  flex-direction: column;
}

.image {
  height: 46.67vw;
  width: 34.58vw;
}

.imageFooter {
  composes: textManrope18 from global;
  display: flex;
  justify-content: space-between;
  color: var(--main-color-grey);
  margin-top: 1.04vw;
}

.text {
  composes: textCormorant36 from global;
  color: var(--main-color);
  text-align: left;
  margin-top: 0.69vw;
}

.offsetTop {
  justify-content: end;
}