.pressCardBig {
  height: 55.55vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 83.33vw;
  height: 42.01vw;
  transition: all 1s ease;
}

.image:hover {
  opacity: 0.8;
  transition: all 1s ease;
}

.imageFooter {
  composes: textManrope18 from global;
  display: flex;
  justify-content: space-between;
  color: var(--main-color-grey);
  margin-top: 1.04vw;
}

.text {
  composes: textCormorant36 from global;
  color: var(--main-color);
  text-align: left;
  margin-top: 0.69vw;
}

@media(max-aspect-ratio: 12/16) {
  .pressCardBig {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .image {
    height: auto;
    width: 100vw;
    transition: all 1s ease;
    margin: 0 -4vw;
  }

  .text {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6.4vw;
    line-height: 100%;
    color: var(--main-color);
    text-align: left;
    margin-top: 3vw;
  }

  .imageFooter {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.47vw;
    line-height: 140%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    color: var(--main-color-grey);
    margin-top: 2.67vw;
  }
}