.footerContainer {
  margin-top: 33.3vh;
}

.offset {
  margin-top: 50vh;
}

.socialMediaContainer {
  composes: titleCormorant36 from global;
  border-top: 1px solid var(--main-color-grey);
  border-bottom: 1px solid var(--main-color-grey);
  color: var(--main-color);
  padding: 5.2vw 0;
}

.socialMedia {
  display: flex;
  justify-content: space-between;
  padding: 0 6.04vw;
}

.info {
  composes: textManrope18 from global;
  display: flex;
  justify-content: space-between;
  margin: 2.08vw 0;
  color: var(--main-color-grey);
}

a {
  color: var(--main-color-grey);
  transition: all 1s ease;
}

a:hover {
  color: var(--main-color);
  transition: all 1s ease;
}

.styledA {
  color: var(--main-color);
  transition: all 0.1s ease;
}

.styledA:hover {
  color: var(--main-color-lightgrey);
  transition: all 0.1s ease;
}

.links {
  text-decoration: none;
}

.copyright {

}

@media(max-aspect-ratio: 12/16) {
  .footerContainer {
    margin-top: 26.7vw;
  }

  .socialMediaContainer {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6.4vw;
    line-height: 120%;
    border-top: 1px solid var(--main-color-grey);
    border-bottom: 1px solid var(--main-color-grey);
    color: var(--main-color);
    padding: 9.33vw 0;
  }
  
  .socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4vw;
    padding: 0;
  }

  .info {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.47vw;
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 1.33vw;
    margin: 4vw 0 16.5vw 0;
    color: var(--main-color-grey);
  }
}