@keyframes fadein {
  from { 
    opacity: 0;
    transform : translateY(3em)
  }
  to { 
    opacity: 1;
    transform : translateY(0)
  }
}

.listTab {
  margin-top: 3.47vw;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.listItem {
  display: flex;
  padding-top: 3.47vw;
}

.idx {
  composes: textLibre18 from global;
  padding-right: 1.04vw;
  padding-top: 1.18vw;
  vertical-align: top;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  composes: textCormorant80 from global;
  text-transform: uppercase;
}

.image {
  position: absolute;
  right: 0;
  width: 46.67vw;
  height: 34.58vw;
  object-fit: cover;
  z-index: -1;
  animation: fadein 1s ease;
}