@keyframes fadein {
  from { 
    opacity: 0;
    transform : translateY(3em)
  }
  to { 
    opacity: 1;
    transform : translateY(0)
  }
}

.listTab {
  margin-top: 3.47vw;
}

.listContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.listItem {
  display: flex;
  padding-top: 3.47vw;
}

.idx {
  composes: textLibre18 from global;
  padding-right: 1.04vw;
  padding-top: 0.9vh;
  vertical-align: top;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.text {
  composes: textCormorant80 from global;
  text-transform: uppercase;
}

.image {
  position: absolute;
  right: 0;
  width: 46.67vw;
  height: 34.58vw;
  object-fit: cover;
  z-index: -1;
  animation: fadein 1s ease;
}

.listItemText {
  display: flex;
}

@media(max-aspect-ratio: 12/16) {
  .listItem {
    display: flex;
    flex-direction: column;
    padding-top: 13.33vw;
    width: 100%;
  }

  .mobileImage {
    width: 100%;
  }

  .listContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: -8vw;
  }

  .listItemText {
    display: flex;
    margin-top: 4vw;
  }

  .idx {
    font-family: 'Libre Caslon Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.93vw;
    line-height: 120%;
    text-transform: uppercase;
    padding-right: 3.47vw;
    padding-top: 1.5vw;
    vertical-align: top;
  }

  .text {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10.67vw;
    line-height: 110%;
    text-transform: uppercase;
  }
}