@keyframes fadein {
  from { 
    opacity: 0;
    transform : translateY(3em)
  }
  to { 
    opacity: 1;
    transform : translateY(0)
  }
}

.landingPage {
  scroll-behavior: smooth;
}

.videoBackground {
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
  -webkit-border-radius: 1px;
}

.menuContainer {
  padding: 0 2.29vw;
}

.footerContainer {
  padding: 0 2.29vw;
}

.contentContainer {
  padding: 0 2.29vw;
  margin-top: 10.42vw;
}

.afficheTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  text-align: left;
}

.calendar div {
  box-sizing: border-box;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  margin: 3.47vw 0 2.22vh 0;
}

.title {
  composes: titleCormorant36 from global;
  color: var(--main-color);
}

.table {
  composes: textLibre80 from global;
  display: block;
  height: 100vh;
}

.header {
  composes: textManrope18 from global;
  color: var(--main-color);
  border-top: 1px solid var(--main-color);
  padding: 1.11vh 0;
}

.flexTable {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid var(--main-color);
  color: var(--main-color-grey);
}

.flexRow {
  width: calc(100% / 7);
  text-align: center;
  padding: auto;
}

.row {
  padding: 3.33vh 0;
}

.tableLink {
  color: var(--main-color);
  transition: all 1s ease;
}

.tableLink:hover {
  color: var(--main-color-lightgrey);
  transition: all 1s ease;
}

.mobileArrow {
  cursor: pointer;
}

.arrowInactive {
  opacity: 0.5;
  transition: all 1s ease;
  cursor: default;
}

.bannersContainer {
  margin-top: 16.67vh;
}

.bannersTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  padding-left: 2.29vw;
  margin-bottom: 5.56vh;
  text-align: left;
}

.bannersScrollContainer {
  width: 100vw;
  height: 100%;
}

.banner {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
}

.bannerTextContainer {
  text-align: left;
  margin-left: 8.3vw;
}

.bannerTitle {
  composes: titleCormorant96 from global;
  color: var(--main-color);
}

.bannerTitle:hover {
  color: var(--main-color-lightgrey);
}

.bannerSubtitle {
  composes: textManrope18 from global;
  color: var(--main-color-lightgrey);
}

.button {
  padding-top: 2.22vh; 
}

.type {
  composes: textManrope18 from global;
  color: var(--main-color);
  display: flex;
  margin-left: 27.08vw;
  margin-bottom: 8.67vw;
  height: 100%;
  align-items: end;
}

.partnersTitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  text-align: left;
}

.partnersContainer {
  padding: 0 2.29vw;
  margin-top: 16.7vh;
}

.partners {
  display: flex;
  margin-top: 5.56vh;
  justify-content: space-between;
}

.partnerImageContainer {
  width: 32vw;
}

.partnerImage {
  width: inherit;
  animation: fadein 1s ease;
  padding-top: 7.78vh;
  transition: all 1s ease;
}

.partnersList {
  width: 54.8vw;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.partnerItem {
  composes: textCormorant80 from global;
  text-transform: uppercase;
  padding: 5.56vh 0;
  border-bottom: 1px solid;
}

.pagination {
  display: flex;
  justify-content: end;
  margin-top: 5.55vh;
}

.pages {
  font-family: 'Libre Caslon Display', serif;;
  font-style: normal;
  font-weight: 400;
  font-size: min(1.6vw, 2.4vh);
  line-height: 150%;  
  text-transform: uppercase;
  color: var(--main-color-grey);
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  align-items: center;
}

.page {
  padding: 0 0.4vw;
}

.arrow {
  opacity: 0.4;
  cursor: default;
}

.active {
  opacity: 1;
  cursor: pointer;
  color: var(--main-color);
}

.buttonLocal {
  composes: textManrope18 from global;
  text-transform: uppercase;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 1vw 3.82vw;
  background-color: transparent;
}

.buttonLocal:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: var(--main-color-lightgrey);
  border: 1px solid var(--main-color-lightgrey);
}

.tooltipTitle {
  display: flex;
}

:global(#root.shadowed) {
  opacity: 0.1;
}

.tooltipNumber {
  font-family: 'Libre Caslon Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(2.5vw, 4vh);
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.tooltipMonth {
  composes: titleCormorant36 from global;
  color: var(--main-color);
  padding-left: 0.5vw;
}

.tooltipSubtitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
  text-transform: uppercase;
}

.tooltipContent {
  display: flex;
  gap: 2.08vw;
}

.tooltipImage {
  width: min(21.32vw, 34vh);
  height: min(11.9vw, 19.1vh);
  object-fit: cover;
}

.tooltipDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.tooltipContentTitle {
  composes: titleCormorant28 from global;
  color: var(--main-color);
}

.tooltipContentSubtitle {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

:global(.popover-arrow) {
  visibility: hidden;
}

:global(#calendarPopover) {
  border-radius: 0;
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-color-lightgrey);
  max-width: 49.3vw;
  padding: 2.3vw;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

:global(.popover-header) {
  padding: 1vh 16vw 2.8vh 16vw;
  margin-bottom: 0;
  background-color: var(--main-bg-color);
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  text-align: center;
}

:global(.popover-body) {
  padding: 3.9vh 0 0 0;
}

@media(max-aspect-ratio: 12/16) {

  .menuContainer {
    padding: 0 4vw;
  }

  .menuContainer > div {
    padding: 0 4vw;
  }

  .contentContainer {
    padding: 0 4vw;
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    margin: 3.47vw 0 2.22vh 0;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5px 0;
  }
  
  .title {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4.8vw;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--main-color);
    display: flex;
  }

  .titleNumber {
    padding: 0 3px;
  }

  .titleNumber {
    font-family: 'Libre Caslon Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8vw;
    text-transform: uppercase;
  }

  .rowContainer {
    display: flex;
    gap: 7.5vw;
    padding-top: 4vw;
  }

  .mobileArrow {
    width: 10.67vw;
    height: 10.67vw;
  }

  .dateContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .date {
    font-family: 'Libre Caslon Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-color);
  }

  .time {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 140%;
    color: var(--main-color-grey);
    word-wrap: none;
    width: 20vw;
    padding-top: 0.53vw;
  }

  .name {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10vw;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--main-color);
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .subname {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    line-height: 140%;
    color: var(--main-color-grey);
    padding-top: 0.53vw;
  }

  .borderMobile {
    padding-top: 6.67vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  .afficheLink {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 6vw;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 6.67vw;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 28.8vw;
  }

  .bannersContainer {
    margin-top: 22.4vw;
  }

  .afficheTitle {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    color: var(--main-color-grey);
  }

  .bannersTitle {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    color: var(--main-color-grey);
    padding-left: 4vw;
  }

  .titleContainerPlay {
    display: flex;
    flex-direction: column;
    margin: 3.47vw 0 8.5vw 0;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding: 5.3vw 0;
  }

  .mobileImage {
    margin-left: -4vw;
    margin-right: -4vw;
    width: -webkit-fill-available;
  }
  
  .bannerMobile {
    padding: 0 4vw;
    margin-bottom: 20vw;
  }

  .mobileBannerTitle {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10.67vw;
    line-height: 10.67vw;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: 4vw;
  }

  .mobileBannerSubtitle {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    color: var(--main-color-grey);
  }

  .mobileButtonLocal {
    border: none;
    background: transparent;
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8vw;
    text-transform: uppercase;
    color: var(--main-color);
    padding: 0;
  }

  .mobileDescription {
    text-align: left;
  }

  .partnersContainer {
    padding: 0 4vw;
    margin-top: 20vw;
  }

  .partnersTitle {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vw;
    color: var(--main-color-grey);
  }

  .partners {
    margin-top: 8vw;
  }

  .partnerItem {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8vw;
    text-transform: uppercase;
    padding: 5.3vw 0;
    border-bottom: 1px solid;
  }

  .partnersList {
    width: 70vw;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .partnerImageContainer {
    width: 20vw;
  }

  .pagination {
    justify-content: flex-end;
  }

  .arrow {
    width: 9.33vw;
  }

  .pages {
    font-size: 2.93vw;
    padding: 0 6.13vw;
  }

  .footerContainer {
    padding: 0 4vw;
  }
}