.errorPage {
  padding: 0 2.29vw;
}

.title {
  font-family: "Libre Caslon Display", serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(45.14vw, 72.2vh);
  line-height: min(45.83vw, 73.3vh);
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
  margin-top: 1.39vw;
}

.sorry {
  composes: textManrope24 from global;
  text-align: center;
  margin-top: 1.39vw;
  margin-bottom: 4.6vw;
  color: var(--main-color);
}

@media(max-aspect-ratio: 12/16) {
  .errorPage {
    padding: 0 4vw;
  }

  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-family: "Libre Caslon Display", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56vw;
    line-height: 110%;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-color);
    margin-top: 1.39vw;
  }
  
  .sorry {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4.27vw;
    line-height: 160%;
    text-align: center;
    margin: 0;
    color: var(--main-color);
  }
}