.tour {
  display: flex;
  border-bottom: 1px solid rgba(255,255, 255, 0.6);
  justify-content: space-between;
  margin: 5.21vw 0 6.94vw 24.375vw;
  padding-bottom: 6.94vw;
  cursor: pointer;
}

.tour:hover .img {
  opacity: 0.8;
}

.tour:hover .description {
  color: var(--main-color);
}

.noBorder {
  border-bottom: none;
  padding-bottom: 0;
}

.img {
  width: 20.83vw;
  height: 20.83vw;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3.125vw;
}

.date {
  composes: textManrope18 from global;
  color: var(--main-color-grey);
}

.title {
  composes: titleCormorant36 from global;
  color: var(--main-color);
  margin-top: 0.69vw;
}

.description {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
  margin-top: 1.39vw;
}

@media(max-aspect-ratio: 12/16) {
  .tour {
    display: flex;
    border-bottom: 1px solid rgba(255,255, 255, 0.4);
    justify-content: start;
    margin: 0 0 9.33vw 0;
    padding-bottom: 9.33vw;
  }

  .img {
    width: 42.13vw;
    height: 42.13vw;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5.33vw;
  }

  .date {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3.46vw;
    line-height: 140%;
    color: var(--main-color-grey);
  }

  .title {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 6.4vw;
    line-height: 120%;
    color: var(--main-color);
    margin-top: 2.67vw;
  }

  .description {
    display: none;
  }

  .noBorder {
    border-bottom: none;
    padding-bottom: 0;
  }
}