.tour {
  display: flex;
  /* border-bottom: 1px solid var(--main-color); */
  box-shadow: 0 2px 1px -2px var(--main-color);
  justify-content: space-between;
  margin: 5.21vw 0 6.94vw 24.375vw;
  padding-bottom: 6.94vw;
}

.img {
  width: 20.83vw;
  height: 20.83vw;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-left: 3.125vw;
}

.date {
  composes: textManrope18 from global;
  color: var(--main-color-grey);

}

.title {
  composes: titleCormorant36 from global;
  color: var(--main-color);
  margin-top: 0.69vw;
}

.description {
  composes: textManrope24 from global;
  color: var(--main-color-lightgrey);
  margin-top: 1.39vw;
}