.animationContainer {
  width: 100vw;
  margin-top: 27.8vh;
  overflow: hidden;
  margin-left: -2.29vw;
}

.animationElement {
  width: 300%;
  height: 13.67vh;
  background-size: contain;
  background-repeat: repeat-x;
  overflow: hidden;
  margin-top: 5.55vh;
}

@media(max-aspect-ratio: 12/16) {
  .animationElement {
    width: 1000%;
    height: 15vw;
    margin-top: 5vw;
    background-size: contain;
    background-repeat: repeat-x;
    overflow: hidden;
  }
}