@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --main-bg-color: #151515;
  --main-color: #ECEAE4;
  --main-color-grey: #7A7572;
  --main-color-lightgrey: #c2c2c2;
  --main-color-black: #000000;
}

body {
  background-color: #151515;
}

:global(body.modalOpen) {
  overflow: hidden;
}

a {
  text-decoration: none; /* no underline */
}

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: #b318f0;
}

.colorMainBg {
  background-color: var(--main-bg-color);
}

.color-main {
  color: var(--main-color);
}

.color-grey {
  color: var(--main-color-grey);
}

:global(.titleCormorant150) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(10.42vw, 16.67vh);
  line-height: 110%;
  text-transform: uppercase;
}

:global(.titleCormorant96) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(6.7vw, 10.67vh);
  line-height: 110%;
  text-transform: uppercase;
}

:global(.titleManrope36) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(2.5vw, 4vh);
  line-height: 120%;
}

:global(.titleCormorant36) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(2.5vw, 4vh);
  line-height: 120%;
  text-transform: uppercase;
}

:global(.titleManrope24) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(1.7vw, 2.67vh);
  line-height: 130%;
  text-transform: uppercase;
}

:global(.titleCormorant28) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(1.94vw, 3.11vh);
  line-height: 120%;
  text-transform: uppercase;
}

:global(.titleManrope18) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(1.25vw, 2vh);
  line-height: 140%;
}

:global(.textCormorant36) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(2.5vw, 4vh);
  line-height: 100%;
}

:global(.textCormorant80) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(5.56vw, 8.89vh);
  line-height: 110%;
}

:global(.textManrope24) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(1.67vw, 2.67vh);
  line-height: 140%;
}

:global(.textManrope18) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: min(1.25vw, 2vh);
  line-height: 120%;
}

:global(.textManrope18Bold) {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: min(1.25vw, 2vh);
  line-height: 120%;
}

:global(.textLibre93) {
  font-family: 'Libre Caslon Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(6.46vw, 10.33vh);
  line-height: 115%;  
  text-transform: uppercase;
}

:global(.textLibre80) {
  font-family: 'Libre Caslon Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(5.55vw, 8.89vh);
  line-height: 120%;  
  text-transform: uppercase;
}

:global(.textLibre18) {
  font-family: 'Libre Caslon Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: min(1.25vw, 2vh);
  line-height: 150%;  
  text-transform: uppercase;
}

:global(.accordion-button) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.56vw;
  line-height: 110%;
  background-color: var(--main-bg-color);
  color: inherit;
  padding: 0;
}

:global(.accordion-button:focus) {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5.56vw;
  line-height: 110%;
  background-color: var(--main-bg-color);
  color: inherit;
  padding: 0;
  box-shadow: none;
}

:global(.accordion-button:not(.collapsed)) {
  color: inherit;
  background-color: var(--main-bg-color);
  padding: 0;
}

:global(.accordion-body) {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  text-align: left;
}

:global(.accordion-item) {
  background-color: var(--main-bg-color);
  color: inherit;
  padding: 5.21vw 0;
  border-bottom: 1px solid;
}

:global(.accordion-flush .accordion-item:last-child) {
  border-bottom: 1px solid;
}

:global(.accordion-button::after) {
  width: 0;
}

@media(max-aspect-ratio: 12/16) {
  .app {
    margin-top: 44px;
  }
}